
nav{
    padding-top: 30px;
    background: var(--main-text-color);
    color: var(--main-bg-color);

}

.social{
    float: right;
    svg{
        display: inline-block;
        height: 25px;
        fill: var(--main-bg-color);
        margin-left: 10px;
        transition: fill 0.1s;
    }
}
.menu{ 
    display: flex;
    flex-direction: column;
    a{
        float: right;
        color: var(--main-bg-color);
        font-size: 24px;
        font-family: MaisonDemi;
        letter-spacing: 2px;
        text-align: right;
        text-transform: lowercase;
    }
    a:first-child{
            margin-bottom: 5px;
    }
}

.snapchat:hover{
    fill: #fffc00;
}
.facebook:hover{
    fill: #3b5998;
}
.twitter:hover{
    fill: #55acee;
}

:global{
    .edit-mode{
        a{
            pointer-events: none;
            > div{
                pointer-events: all;
            }
        }
    }
}