.hero{
    padding-bottom: 30px;
    background-color: var(--main-text-color);
    overflow: auto;
    min-height: 100vh;
    z-index: 2;
    box-sizing: border-box;
    //border: 20px solid var(--main-bg-color);
    position: relative;
    :global{
        .h1{
            color: var(--main-bg-color);
            a{
                color: var(--main-bg-color);   
            }
            a:hover{
                color: var(--main-link-color);
            }
        }
    }

}


section.technology{
    position: relative;
    padding-top: 110px;
   > div{
    padding-bottom: 50px;
   }
}
section.technology:before{
    content: none;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    transform: skewY(-12deg);
    background: transparent;
   // box-shadow: 0 0px 20px rgba(50, 50, 93, 0.19);

}



.social{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 50px;
    bottom: 50px;

    svg{
        display: inline-block;
        height: 25px;
        fill: var(--main-bg-color);
        margin-top: 40px;
        transition: fill 0.1s;
    }
}

.snapchat:hover{
    fill: #fffc00;
}
.github:hover{
    fill: #c9510c;
}
.twitter:hover{
    fill: #55acee;
}
.instagram:hover{
    fill: #bc2a8d;
}