.hero {
	padding-bottom: 30px;
	background-color: var(--main-text-color);
	overflow: auto;
	min-height: 100vh;
	z-index: 2;
	position: relative;
	box-sizing: border-box;
	:global {
		.h1 {
			line-height: 8vh;
			color: var(--main-bg-color);
			will-change: opacity;
			@media screen and (max-width: 22em) {
				line-height: 1.2em;
			}
			a {
				color: var(--main-bg-color);
			}
			a:hover {
				color: var(--main-link-color);
			}
		}
		.info-text {
			clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
		}

		.divider {
			will-change: transform;
			transform: scaleX(0);
		}
	}
}

/*
.scaleIn{
  animation: horizontalScale 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: scaleX(0);
  animation-fill-mode: both;
}

@keyframes horizontalScale{
  to{transform: scaleX(1);}
}
*/

section.technology {
	position: relative;
	padding-top: 110px;
	> div {
		padding-bottom: 50px;
	}
}
section.technology:before {
	content: none;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	transform: skewY(-12deg);
	background: transparent;
}

.social {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: -25px;
	bottom: 0px;
	align-items: center;

	svg {
		display: inline-block;
		height: 25px;
		fill: var(--main-bg-color);
		margin-top: 40px;
	}
	> * {
		opacity: 0;
		transform: scale(1.5);
		will-change: transform;
		transition: transform 600ms cubic-bezier(0.645, 0.045, 0.355, 1),
			opacity 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}
	*:nth-child(2) {
		transition-delay: 200ms;
	}
	*:nth-child(3) {
		transition-delay: 400ms;
	}
	*:nth-child(4) {
		transition-delay: 600ms;
	}
}
.social.reveal {
	* {
		opacity: 1;
		transform: scale(1);
	}
	.stalk {
		opacity: 1;
		transform: scale(1) rotate(90deg);
	}
}

.snapchat:hover {
	fill: #fffc00;
}
.github:hover {
	fill: #c9510c;
}
.twitter:hover {
	fill: #55acee;
}
.instagram:hover {
	fill: #bc2a8d;
}

@media screen and (max-width: 1200px) {
	.social {
		position: relative;
		flex-direction: row;
		right: 0;
		margin-bottom: 35px;
		svg {
			margin-top: 0;
			margin-right: 15px;
		}
	}
}

@media screen and (max-width: 48em) {
	.hero {
		padding-bottom: 20px;
	}
	.social {
		margin-bottom: 20px;
	}
}

.email {
	position: relative;
	display: inline-block;
}
.email:after {
	content: attr(data-text);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 #008000;
	top: 0;
	color: white;
	background: #111111;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: glitch 2s infinite linear alternate-reverse;
}
.email:before {
	content: attr(data-text);
	position: absolute;
	left: 2px;
	text-shadow: 1px 0 red;
	top: 0;
	color: white;
	background: #111111;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: glitch2 3s infinite linear alternate-reverse;
}
.email:hover:before,
.email:hover:after {
	color: #1573dd;
}

@keyframes glitch {
	100% {
		clip: rect(71px, 9999px, 57px, 0);
	}
	95% {
		clip: rect(93px, 9999px, 65px, 0);
	}
	90% {
		clip: rect(44px, 9999px, 59px, 0);
	}
	85% {
		clip: rect(69px, 9999px, 35px, 0);
	}
	80% {
		clip: rect(69px, 9999px, 38px, 0);
	}
	75% {
		clip: rect(42px, 9999px, 96px, 0);
	}
	70% {
		clip: rect(73px, 9999px, 27px, 0);
	}
	65% {
		clip: rect(69px, 9999px, 80px, 0);
	}
	60% {
		clip: rect(27px, 9999px, 61px, 0);
	}
	55% {
		clip: rect(27px, 9999px, 19px, 0);
	}
	50% {
		clip: rect(50px, 9999px, 53px, 0);
	}
	45% {
		clip: rect(55px, 9999px, 24px, 0);
	}
	40% {
		clip: rect(54px, 9999px, 100px, 0);
	}
	35% {
		clip: rect(19px, 9999px, 21px, 0);
	}
	30% {
		clip: rect(73px, 9999px, 40px, 0);
	}
	25% {
		clip: rect(42px, 9999px, 10px, 0);
	}
	20% {
		clip: rect(32px, 9999px, 43px, 0);
	}
	15% {
		clip: rect(47px, 9999px, 53px, 0);
	}
	10% {
		clip: rect(35px, 9999px, 43px, 0);
	}
	5% {
		clip: rect(34px, 9999px, 5px, 0);
	}
}
@keyframes glitch2 {
	100% {
		clip: rect(66px, 9999px, 59px, 0);
	}
	95% {
		clip: rect(96px, 9999px, 12px, 0);
	}
	90% {
		clip: rect(7px, 9999px, 68px, 0);
	}
	85% {
		clip: rect(71px, 9999px, 5px, 0);
	}
	80% {
		clip: rect(89px, 9999px, 92px, 0);
	}
	75% {
		clip: rect(49px, 9999px, 55px, 0);
	}
	70% {
		clip: rect(57px, 9999px, 25px, 0);
	}
	65% {
		clip: rect(11px, 9999px, 2px, 0);
	}
	60% {
		clip: rect(37px, 9999px, 92px, 0);
	}
	55% {
		clip: rect(61px, 9999px, 80px, 0);
	}
	50% {
		clip: rect(45px, 9999px, 71px, 0);
	}
	45% {
		clip: rect(56px, 9999px, 61px, 0);
	}
	40% {
		clip: rect(77px, 9999px, 14px, 0);
	}
	35% {
		clip: rect(88px, 9999px, 99px, 0);
	}
	30% {
		clip: rect(14px, 9999px, 44px, 0);
	}
	25% {
		clip: rect(82px, 9999px, 65px, 0);
	}
	20% {
		clip: rect(92px, 9999px, 43px, 0);
	}
	15% {
		clip: rect(15px, 9999px, 35px, 0);
	}
	10% {
		clip: rect(38px, 9999px, 49px, 0);
	}
	5% {
		clip: rect(47px, 9999px, 53px, 0);
	}
}
