.caseItem{
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    :global{
        .divider{
            margin: 150px 0;
        }
    }

}
.caseItem:last-child{
    margin-bottom: 150px;
     :global{
        .divider{
           display: none;
        }
    }
}

.caseNumber{
   position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%) rotate(-90deg) ;
   font-size: 50px;
   color: #bbbbbb;
}

.header{
    transition: 0.5s;
    display: inline-block;
    margin-top:50px; 
}
