.button {
	border-color: inherit;
	color: inherit;
	position: relative;
	transition: 0.25s;
	background: transparent;
	visibility: visible;
	height: 2.8em;
}
.button:after {
	content: attr(data-text);
	height: 100%;
	line-height: 2.8em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	color: inherit;
}
.button:before {
	content: attr(data-text);
	height: 100%;
	line-height: 2.8em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.button:hover {
	background: transparent;
	color: inherit;
}
.button:hover:after {
	clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
}
.wrapper {
	position: relative;
	display: inline-block;
	visibility: hidden;

	a {
		color: inherit !important;
		transition: none;
	}
	.hover {
		position: absolute;
		top: 1px;
		left: 1px;
		bottom: 1px;
		right: 1px;
		visibility: hidden;
		background: inherit;
		overflow: hidden;
	}
	.hover:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: inherit;
		transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translate3d(0, 105%, 0);
		visibility: visible;
	}
}
.wrapper:hover {
	.hover:before {
		transform: none;
	}
}
