/* style for the theme */


@font-face {
  font-family: 'MaisonBold';
  src:  url('../fonts/MaisonNeueWEB-Bold.woff') format('woff');
}
@font-face {
  font-family: 'MaisonBook';
  src:  url('../fonts/MaisonNeueWEB-Book.woff') format('woff');
}
@font-face {
  font-family: 'MaisonDemi';
  src:  url('../fonts/MaisonNeueWEB-Demi.woff') format('woff');
}



