/* cude image styling */
:global{
    .cude-image{
        display: block;
        position: relative;
        background: white;

        img{
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 1s;
            opacity: 0;
            width: 100%;
        }
    }
    .cude-image.loaded{
        
        img{
            opacity: 1;
        }
    }

}
