.caseItem{
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    :global{
        .divider{
            margin: 150px 0;
        }
    }

}
.caseItem:last-child{
    margin-bottom: 150px;
     :global{
        .divider{
           display: none;
        }
    }
}

.caseNumber{
   position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%) rotate(-90deg) ;
   font-size: 50px;
   color: #bbbbbb;
}

.header{
    transition: 0.5s;
    display: inline-block;
    margin-top:50px; 
}



/* scrollAnimation css */
.wrapper{
  display: none;
}
/* 1. Intro Keyframe
--------------------------------------- */
:global{
.background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#case {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  
}
#case-text{
  opacity: 0;
  padding-right: 50px;
}
#case-images{
  height: 50vh;
  position: relative;
}
#case-images img{
  border: 1px solid #111111;
  position: absolute;
  opacity: 0;
}
#case-image-1{
  height: 300px;
  width: 150px;
  left: 0;
  bottom: 150px;
}
#case-image-2{
  height: 250px;
  width: 390px;
  right: 0;
  bottom: 150px;
}
#case-image-3{
  height: 250px;
  width: 450px;
  bottom: -40px;
  left: 50px;
}

  
}
/* 2. Explosion/Images/Links Structure and Text
--------------------------------------- */
#explosion,
#images {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
}
:global{
.explosion-byline,
.images-byline {
  position: fixed;
  top: 63%;
  left: 10%;
  max-width: 22%;
  opacity: 0;
}
.images-byline-2 {
  text-align: center;
  position: fixed;
  top: 93%;
  left: 25%;
  width: 50%;
  opacity: 0;
}

/* 3. Explosion Keyframe
--------------------------------------- */
#domExplosionList {
  position: fixed;
  width: 270px;
  top: 100%;
  right: 15%;
  opacity: 0;
}
.dom-explosion-item {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
}
.dei-1  { top: 0;   left: 0;  }
.dei-2  { top: 0;   left: 70px; }
.dei-3  { top: 0;   left: 140px; }
.dei-4  { top: 0;   left: 210px; }
.dei-5  { top: 70px;   left: 0;  }
.dei-6  { top: 70px;   left: 70px; }
.dei-7  { top: 70px;   left: 140px; }
.dei-8  { top: 70px;   left: 210px; }
.dei-9  { top: 140px;   left: 0;  }
.dei-10 { top: 140px;   left: 70px; }
.dei-11 { top: 140px;   left: 140px; }
.dei-12 { top: 140px;   left: 210px; }
.dei-13 { top: 210px;   left: 0;  }
.dei-14 { top: 210px;   left: 70px; }
.dei-15 { top: 210px;   left: 140px; }
.dei-16 { top: 210px;   left: 210px; }

}