.caseItem{
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    :global{
        .divider{
            margin: 150px 0;
        }
    }

}
.caseItem:last-child{
    margin-bottom: 150px;
     :global{
        .divider{
           display: none;
        }
    }
}

.caseNumber{
   position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%) rotate(-90deg) ;
   font-size: 50px;
   color: #bbbbbb;
}

.header{
    transition: 0.5s;
    display: inline-block;
    margin-top:50px; 
    text-align:center;
    width: 100%;
}
.casesContainer{
  position: relative;
}



/* scrollAnimation css */
.wrapper{
  display: none;
  pointer-events: none;
}
/* 1. Intro Keyframe
--------------------------------------- */
:global{
.background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#case-frame{
  position: fixed;
  width: 100%;
  height: 620px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: initial !important;
  pointer-events: none;
}
#frame{
  width: 100%;
  height: 100%;
  border: 1px solid #CFCFCF;
  opacity: 0;

}
#case-type{
    background-color: white;
    padding: 0 30px;
    top: -15px;
    left: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(0);
    h4{
      font-family: MillerDisplay;
      font-size: 20px;
      color: #575757;
      transform: translateY(24px);
    }
}
#case-facts{
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 0 30px;
  bottom: -20px;
  left: calc(50% - 180px);
  transform: scale(0);
  overflow: hidden;
  position: absolute;
  h4{
    font-family: MillerDisplay;
    font-size: 14px;
    color: #575757;
    text-align: center;
    width: 100px;
    transform: translateY(24px);
    span{
        font-family: MillerDisplayLight;
        display: block;
        margin-top: 5px;
    }
  }
}

.case {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
  > div{
    height: 100%;
  }
   > div > .container{
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.case.active{
  display: initial;
  pointer-events: all;
}
div[id^="case-text"]{
  opacity: 0;

  p{
    font-size: 18px;
    color: #575757;
    margin-right: 50px;
  }
}
.case-indexes{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  span{
    line-height: 80px;
  }
}
#scroll-indicator{
    position: absolute;
    left: -24px;
    top: 220px;
    width: 22px;
}
#case-images{
  position: relative;
}
#case-images img{
  position: absolute;
  opacity: 0;
  box-shadow: 0 3px 20px 0 rgba(0,0,0,0.10);
  transition: none !important;
}
#case-images img[id$="-1"]{
  left: 0;
  bottom: -30px;
  height: 300px;
  box-shadow: none;
}
#case-images img[id$="-2"]{
  left: 180px;
  height: 250px;
  bottom: -30px
}
#case-images img[id$="-3"]{
  top: -20px;
  left: 50px;
   height: 250px;
}

  
}
/* 2. Explosion/Images/Links Structure and Text
--------------------------------------- */
#explosion,
#images {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
}
:global{
.explosion-byline,
.images-byline {
  position: fixed;
  top: 63%;
  left: 10%;
  max-width: 22%;
  opacity: 0;
}
.images-byline-2 {
  text-align: center;
  position: fixed;
  top: 93%;
  left: 25%;
  width: 50%;
  opacity: 0;
}

/* 3. Explosion Keyframe
--------------------------------------- */
#domExplosionList {
  position: fixed;
  width: 270px;
  top: 100%;
  right: 15%;
  opacity: 0;
}
.dom-explosion-item {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: black;
}
.dei-1  { top: 0;   left: 0;  }
.dei-2  { top: 0;   left: 70px; }
.dei-3  { top: 0;   left: 140px; }
.dei-4  { top: 0;   left: 210px; }
.dei-5  { top: 70px;   left: 0;  }
.dei-6  { top: 70px;   left: 70px; }
.dei-7  { top: 70px;   left: 140px; }
.dei-8  { top: 70px;   left: 210px; }
.dei-9  { top: 140px;   left: 0;  }
.dei-10 { top: 140px;   left: 70px; }
.dei-11 { top: 140px;   left: 140px; }
.dei-12 { top: 140px;   left: 210px; }
.dei-13 { top: 210px;   left: 0;  }
.dei-14 { top: 210px;   left: 70px; }
.dei-15 { top: 210px;   left: 140px; }
.dei-16 { top: 210px;   left: 210px; }

}