footer{
    position: relative;
    background: var(--main-text-color);
    padding: 60px;
}


.me{
    p, a{
        margin: 0;
        font-family: Charter;
        color: var(--main-bg-color);
        font-size: 18px;
        text-align: center;
        span{
            font-size: 18px;
            display: block;
            margin: auto;
            margin-bottom: -10px;
        }
    }

}

.git{
    position: absolute;
    right: 60px;
    bottom: 60px;
    color: var(--main-bg-color);
}


.social{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;

    svg{
        display: inline-block;
        height: 25px;
        fill: var(--main-bg-color);
        transition: fill 0.1s;
        margin: 0 15px;
    }
}

.snapchat:hover{
    fill: #fffc00;
}
.github:hover{
    fill: #c9510c;
}
.twitter:hover{
    fill: #55acee;
}
.instagram:hover{
    fill: #bc2a8d;
}