.adminControlsWrapper{
	height: 10px;
   position: fixed;
   width: 100%;
   z-index: 100;
}

.adminControls{
    height: 50px;
    background: rgb(255,255,255);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08), 0 4px 6px 0 rgba(60,50,94,.11);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.3s;
    transform: translateY(-50px);
	 z-index: 100;

    :global{
        button, .button-look{
            color: var(--main-text-color);
            border-color: var(--main-text-color);
        }
    }
}
.adminOverlay > .content{
	transition: transform 0.3s;
    overflow: hidden;
}
.adminOverlay.active > .content{
	transform: translateY(50px);
}
.adminOverlay.active .adminControls{
	transform: none;
}

.pullDownArrow{
    top: 0;
    left: 0;
    position: fixed;
    left: 50%;
    transform: translateY(-80px) translateX(-50%);
    transition: 0.3s;
    cursor: pointer;
    fill-opacity: 0.2;
}
.pullDownArrow.active{
    transform: translateY(-30px) translateX(-50%);
}
.pullDownArrow.active:hover{
   fill-opacity: 1;
}
.adminOverlay.active .pullDownArrow{
    transform: translateY(-80px) translateX(-50%);
}

