
nav{
    padding-top: 30px;
    background: var(--main-text-color);
    color: var(--main-bg-color);
    button{
        border: none;
        float: right;
        color: white;
        padding: 0;
        text-transform: lowercase;
        font-size: 24px;
        font-family: MillerDisplayLight;
    }
    .stats{
        margin-bottom: -5px;
        animation: reveal 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);; 
    }
    p{
        text-align: right;
        color: white;
        padding: 0;
        text-transform: lowercase;
        font-size: 18px;
        font-family: MillerDisplay;
        margin: 0;
    }
}

@keyframes reveal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.menu{ 
    display: flex;
    flex-direction: column;
    a{
        float: right;
        color: var(--main-text-color);
        font-size: 24px;
        font-family: MaisonDemi;
        letter-spacing: 2px;
        text-align: right;
        text-transform: lowercase;
    }
    a:first-child{
            margin-bottom: 5px;
    }

}


:global{
    .edit-mode{
        a{
            pointer-events: none;
            > div{
                pointer-events: all;
            }
        }
    }
}