

    .stats{
        margin-bottom: -5px;
        animation: reveal 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
      p{
        text-align: right;
        color: white;
        padding: 0;
        text-transform: lowercase;
        font-size: 18px;
        font-family: MillerDisplay;
        margin: 0;
    }
    }



@keyframes reveal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
