.hero{
    min-height: 100vh;
    padding-bottom: 30px;
    background-color: var(--main-text-color);
    overflow: auto;
    box-sizing: border-box;
    border: 20px solid var(--main-bg-color);

    :global{
        .h1{
            color: var(--main-bg-color);
        }
    }

}



