.case{
position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    animation-name: transIn;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-duration: 250ms;
}
.background{
    background: white;
}

.case.hide{
    animation-name: transOut;
}


@keyframes transIn {
    0% {transform: translateY(100vh);}
    100% {transform: none;}
}
@keyframes transOut {
    0% {transform: none;}
    100% {transform: translateY(100vh);}
}

.placeholder{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.extendedContent {
    width: 100%;
    box-sizing: border-box;
    animation: fadein 1s linear forwards;
    padding: 0 150px;

    img{
        transition: none;
        height: auto;
        width: calc(100% + 300px);
        margin-left: -150px;
    }



}
